.comp-container {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.name-back {
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go-back {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.store-name {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}

.edit-icon {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.edit-icon:hover {
    color: #007bff;
}

.horizontal-line {
    width: 101%;
    height: 2px;
    background-color: #f7f7f7;
    margin-top: 10px;
}

.store {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.store-label {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.store-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.store-info {
    border: 1px solid #9999;
    padding: 10px;
}

.stores {
    height: 500px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stores::-webkit-scrollbar {
    width: 1px;
}

.stores li {
    width: 180px;
    margin-bottom: 20px;
}

.stores img {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.stores h3 {
    text-align: center;
    margin: 10px 0;
}

.stores p {
    text-align: center;
    margin: 5px 0;
}