.logo-sesion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qcomparator-sesion {
    font-size: 30px;
}

.icono-sesion {
    width: 80%;
    height: 100%;
}

.login-input input,
.login-input label,
.login-input button {
    width: 100%;
    margin-bottom: 15px;
}


.login-input label {
    display: block;
    margin-bottom: 10px;
}

.login-input input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-input button {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-input {
    padding: 2em
}

.go-to-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.go-to-register h1 {
    font-size: 14px;
}

.go-to-register button {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.go-to-register button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}