.register-input input,
.register-input label,
.register-input button {
    width: 100%;
    margin-bottom: 15px;
}


.register-input label {
    display: block;
    margin-bottom: 10px;
}

.register-input input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-input button {
    width: 100%;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-back {
    width: 100%;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go-back-login {
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}

.login-name {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}

.logo-sesion {
    text-align: center;
    margin-top: 20px;
}

.icono-sesion {
    width: 80px;
    height: 80px;
}

.qcomparator-sesion {
    font-size: 32px;
    margin-top: 10px;
}

.register-input {
    padding: 2em
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 23px;
    right: 10px;
    font-size: 150%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}