.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-input-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.search-input {
    flex: 1;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    width: 10%;
    height: 30px;
    background-color: rgb(214, 212, 212);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
}

.search-icon {
    width: 70%;
    height: 20px;
}

.suggestions {
    position: absolute;
    width: 90%;
    background-color: #fff;
    border: 1px solid #999;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    z-index: 4;
}

.suggestions li {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestions li:hover {
    background-color: #e0e0e0;
}