
.comp-container {
    padding: 0 !important;
    padding-bottom: 20% !important;
}

.name-back {
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start-and-count {
    display: flex;
    align-items: center;
}

.count-text {
    margin-left: 8px;
    color: #f7f7f7;
}


.go-back {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #0F0F0F;
}

.arrow {
    margin-right: 8px;
    font-size: 24px;
}


.product-name {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}


.edit-icon {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}


.edit-icon:hover {
    color: #007bff;
}

.edit-dialog {
 position: relative;
}
  
.dialog {
    position: absolute;
    top: 100%;
    right: 15%; 
    background-color: white;
    padding: 30% 50% 10% 50%;
    z-index: 1000;
    width: 550%;
    border: 1px solid #ccc;
}
  
.options {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: rgb(87, 87, 99);
    margin-bottom: 10px;
    border: none;
    color: white;
    padding: 3% 5% 6% 5%;
}



.image-price {
    width: 100%;
}


.image-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    /* margin-bottom: 20px; */
}


.image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;

    margin: 0;
    padding: 0;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  }

.price-review {
    display: flex;
    background-color: #000;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}


.price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #f7f7f7;
    margin-left: 20px;
}

.review {
    font-size: 14px;
    text-align: left;
}


.stars {
    display: flex;
    font-size: 20px;
    color: #fff; 
    -webkit-text-stroke: 1px #000; 
}


.star.filled {
    color: #FFC436;
}

.horizontal-line {
    width: 101%;
    height: 2px; 
    background-color: #f7f7f7; 
    margin-top: 10px;
}

.local {
    width: 100%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.local-label {
    font-weight: bold;
    margin-top: 30px; 
    margin-bottom: 10px; 
}

.description {
    padding-left: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 10px; 
}

.description-info {
    border: 1px solid #9999;
    padding: 10px;
}

.tag {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    background-color: #f7f7f7;
    color: #000;
    border-radius: 10px; 
}

.tags {
    padding-left: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
