.stars {
    display: flex;
    font-size: 20px;
    color: #fff; 
    -webkit-text-stroke: 1px #FFC436; 
}


.star.filled {
    color: #FFC436;
    -webkit-text-stroke: 1px #FFC436; 
}

.horizontal-line {
    width: 101%;
    height: 2px; 
    background-color: #f7f7f7; 
    margin-top: 10px;
}

.review {
    padding: 10px;
}

.review-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.user {
    font-weight: bold; 
    font-size: 20px; 
}

.comment {
    margin-bottom: 16px;
    margin-left: 15px;
}

.button-review {
    background-color: rgb(87, 87, 99);
    border: none;
    color: #F3F3F3;
    padding: 2%;
    cursor: pointer;
}

.reviewspage{
    position: relative;
}

.add-review-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-review {
    margin-bottom: 15px;
    color: #BE3144;
}